<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Jazzzny</string>
	<key>CodecID</key>
	<integer>2181</integer>
	<key>CodecName</key>
	<string>ALC889A</string>
	<key>Files</key>
	<dict>
		<key>Layouts</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Jazzzny - Realtek ALC889A - MacBookAir1,1</string>
				<key>Id</key>
				<integer>52</integer>
				<key>Path</key>
				<string>layout52.xml.zlib</string>
			</dict>
            <dict>
				<key>Comment</key>
				<string>Jazzzny - Realtek ALC889A - MacBookAir1,1</string>
				<key>Id</key>
				<integer>52</integer>
				<key>Path</key>
				<string>PlatformsApple.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Jazzzny - Realtek ALC889A - iMac6,1</string>
				<key>Id</key>
				<integer>16</integer>
				<key>Path</key>
				<string>layout16.xml.zlib</string>
			</dict>
            <dict>
				<key>Comment</key>
				<string>Jazzzny - Realtek ALC889A - iMac6,1</string>
				<key>Id</key>
				<integer>16</integer>
				<key>Path</key>
				<string>PlatformsApple.xml.zlib</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Jazzzny - Realtek ALC889A - MacBook3,1/MacBook4,1</string>
				<key>Id</key>
				<integer>54</integer>
				<key>Path</key>
				<string>layout16.xml.zlib</string>
			</dict>
            <dict>
				<key>Comment</key>
				<string>Jazzzny - Realtek ALC889A - MacBook3,1/MacBook4,1</string>
				<key>Id</key>
				<integer>54</integer>
				<key>Path</key>
				<string>PlatformsApple.xml.zlib</string>
			</dict>

		</array>
	</dict>
	<key>Patches</key>
	<array/>
	<key>Revisions</key>
	<array>
		<integer>1048835</integer>
	</array>
	<key>Vendor</key>
	<string>Realtek</string>
</dict>
</plist>
